* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h{
    background-color: black;
    padding: 1rem;
}
.s1{
    background-color: aquamarine;
    padding: 3rem;
}

.m{
    background-color: blueviolet;
}
.s2{
    background-color: bisque;
}